.game {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(13, 26, 31);
}

.history-button {
    background-color: white;
    cursor: pointer;
    outline: none;
    border: none;
    margin-left: 0.5rem;
    padding: 0.7rem;
    margin-top: 0.5rem;
}